* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.topbar {
  position: fixed;
  background: white;
  height: 100px;
  width: 100%;
  padding: 20px 40px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  grid-gap: 1040px;
}

.login-btn {
  position: absolute;  
}

.btn {
  text-decoration: none;
  color: #fff;
  background-color: #db0829;
  font-size: 16px;
  font-weight: 300;
  padding: 8px 32px;
  border-radius: 5px;
}

#logo {
  width: 150px;
}

.sidebar {
  position: fixed;
  top: 100px;
  width: 260px;
  height: calc(100% - 100px);
  background: rgb(219, 8, 41);
  overflow-x: hidden;
}

.sidebar ul {
  margin-top: 5px;
  margin-left: 20px;
}

.sidebar ul li {
  width: 100%;
  list-style: none;
}

.sidebar ul li a {
  width: 100%;
  text-decoration: none;
  color: #fff;
  height: 60px;
  display: flex;
  align-items: center;
  opacity: 0.6;
  font-size: 14px;
  font-weight: 500;
}

.sidebar ul li a:hover{
  opacity: 100%;
} 

/* css main section */

.main {
  position: absolute;
  left: 260px;
  top: 100px;
}

.main img {
  width: 85%;
  height: 90%;
  position: fixed;
}

/* css admin */

.main-title {
  width: 100%;
  margin-left: 50px;
  margin-top: 30px;
  font-size: 18px;
}

.input-box {
  width: 100%;
  margin-top: 20px;
}

.input-box label {
  color: #333;
  font-size: 16px;
  font-weight: bold;
}

.input-box input {
  position: relative;
  height: 30px;
  width: 100%;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 8px;
  color: #707070;
  margin-top: 5px;
}

.column {
  display: flex;
  column-gap: 15px;
}

.column .change-btn {
  font-size: 14px;
  font-weight: 500;
  color: white;
  background-color: rgba(219, 8, 41, 1);
  padding: 8px 16px;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  border:rgb(219, 8, 41);
}

.modal-container {
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.popup {
  width: 300px;
  background-color: ghostwhite;
  border-radius: 6px;
  position: absolute;
  top: 20%;
  left: 45%;
  padding: 30px 30px;
  transition: transform 0.4s, top 0.4s;
}

.popup h2 {
  font-size: 20px; 
}

.input-box label {
  font-size: 14px;
}

.open-popup {
  visibility: visible;
  top: 20%;

}

.input-box .save-btn {
  font-size: 14px;
  font-weight: 500;
  color: white;
  background-color: rgba(219, 8, 41, 1);
  padding: 8px 33px;
  border-radius: 5px;
  cursor: pointer;
  border:rgb(219, 8, 41);
  width: 50%;
}

.input-box .cancel-btn {
  font-size: 14px;
  font-weight: 500; 
  height: 30px;
  border: none;
  outline: none;
  background-color:grey;
  padding: 8px 33px;
  border-radius: 5px;
  cursor: pointer;
}


/*css student page*/
.student-table {
  width: 100%; /* Kéo dài chiều ngang của bảng */
  border-collapse: collapse;
}

.st-title {
  margin: 30px;
  background: white;
  border-radius: 20px;
  border: 2.5px solid rgba(128, 128, 128, 0.062);
}

.st-title .header {
  margin: 20px;
  left: 0;
}

.st-title h2 {
  font-size: 28px;
  
}

.st-title .box {
  float: right;
}

.box .setnamehere-btn {
  padding: 3px 18px;
  color: white;
  background-color: #db0829;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.box .search-input {
  padding: 6px 18px;
  border-radius: 5px;
  border: 2px solid #ddddddc6;
}

.student-table th,
.student-table td {
  padding: 20px;
  text-align: center; /* Căn giữa nội dung trong các ô */
  border: 1.5px solid #ddddddc6;
}

.student-table th {
  background-color: #f2f2f2;
  font-weight: 500;
  font-size: 14px;
}


.student-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.student-table tbody tr:hover {
  background-color: #f2f2f2;
}

.open-popup {
  position: fixed;
  top: 0%;
  color: #333;
  display: none;
  left: 290px;
  background-color: #f9f9f9;
  height: 100%;
  backdrop-filter: grey;
}

.open-popup .h2 {
  font-size: 16px;
}

.open-popup p {
  cursor: pointer;
  font-size: 20px;
  font-weight: 300;
  color: gray;
}

.popup-title {
  margin: 34px 34px;
  
}

.close-menu {
  float: right;
  font-size: 16px;
  color: #707070;
  cursor: pointer;
}

.st-container {
  margin: 34px 34px;

}

.st-box {
  border: 2.5px solid rgba(128, 128, 128, 0.062);
  border-radius: 15px;
  margin-bottom: 30px;
}

.st-box .box-content {
  padding: 17px;
  font-size: 16px;
}

.st-form {
  padding: 0 17px 17px 17px;
}

.per-button {
  text-align: center;
  
}

.select-btn {
  margin: 8px 3px;
  padding: 8px 13px;
  border: none;
  border-radius: 8px;
  background-color: rgba(128, 128, 128, 0.062);
  font-weight: 600;
  color: #707070;
  cursor: pointer;
}

.select-btn:hover {
  color: #db0829;
}